---
import styles from './Keywords.module.css';

import {t} from '../../utils/i18n';

export interface Props {
  locale?: string;
}

const { locale = 'fr' } = Astro.props;

const dishes = t(locale, 'keywords.dishes');
---

<section class={styles.keywords}>
  <div class={styles.keywordsContainer}>
    <div class={styles.keywordsScroll}>
      <ul>
        {dishes.map((dish: string) => (
          <li>{dish}</li>
        ))}
      </ul>

      <ul aria-hidden="true">
        {dishes.map((dish: string) => (
          <li>{dish}</li>
        ))}
      </ul>
    </div>
  </div>
</section>
