---
import styles from './Footer.module.css';
const logoImg = '/assets/images/michels-logo.svg';

import {t} from '../../utils/i18n';

const { locale } = Astro.props;

const externalLinks = [
  { href: '#home', target: '', text: t(locale, 'footer.nav.home') },
  { href: 'https://maps.app.goo.gl/GshxztFuF14FQgDn7', target: '_blank', text: t(locale, 'footer.nav.directions') },
  { href: '#about', target: '', text: t(locale, 'footer.nav.about') },
  { href: 'https://www.instagram.com/michels.bistro.bordeaux/?hl=fr', target: '_blank', text: 'Instagram' },
  { href: '#menu', target: '', text: t(locale, 'footer.nav.menu') },
  { href: 'https://www.facebook.com/michels.bistro.bordeaux/?locale=fr_FR', target: '_blank', text: 'Facebook' }
];
---

<footer class={styles.footer}>
  <div class={styles.footerContainer}>
    <!-- <div class={styles.top}>

    </div> -->
    <div class={styles.middle}>
      <div class={styles.logoContainer}>
        <a href="/">
          <img src={logoImg} alt="Michel's Logo" class={styles.logo} />
        </a>
      </div>
      <div class={styles.linksContainer}>
        <ul class={styles.linksList}>
          {externalLinks.map(link => (
            <li class={styles.linkItem}>
              <a href={link.href} class={styles.link} target={link.target} rel={link.target === '_blank' ? 'noopener noreferrer' : ''}>
                {link.text}
              </a>
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class={styles.arrowIcon}><path d="M7 7h10v10"/><path d="M7 17 17 7"/></svg>
            </li>
          ))}
        </ul>
      </div>
      <div class={styles.infoContainer}>
        <p>{t(locale, 'footer.hours')}</p>
      </div>
    </div>
    <div class={styles.bottom}>
      <h2 class={styles.footerTitle}>Faim!</h2>
    </div>
  </div>
</footer>
