---
import styles from './Footer.module.css';
const logoImg = 'assets/images/michels-logo.svg';
const externalLinks = [
  { href: '#', text: 'Accueil' },
  { href: '#', text: 'Nous trouver' },
  { href: '#', text: 'A Propos' },
  { href: '#', text: 'Instagram' },
  { href: '#', text: 'La Carte' },
  { href: '#', text: 'Facebook' }
];
---

<footer class={styles.footer}>
  <div class={styles.footerContainer}>
    <div class={styles.top}>
      <h2>hello</h2>
    </div>
    <div class={styles.middle}>
      <div class={styles.logoContainer}>
        <a href="/">
          <img src={logoImg} alt="Michel's Logo" class={styles.logo} />
        </a>
      </div>
      <div class={styles.linksContainer}>
        <ul class={styles.linksList}>
          {externalLinks.map(link => (
            <li class={styles.linkItem}>
              <a href={link.href} class={styles.link}>
                {link.text}
              </a>
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="arrowIcon"><path d="M7 7h10v10"/><path d="M7 17 17 7"/></svg>
            </li>
          ))}
        </ul>
      </div>
      <div class={styles.infoContainer}>
        <p>Ouvert tous les jours de 8h00 à minuit</p>
      </div>
    </div>
    <div class={styles.bottom}>
      <h2 class={styles.footerTitle}>Faim!</h2>
    </div>
  </div>
</footer>
