---
import styles from './Hero.module.css';
import { Image } from 'astro:assets';
import heroImage from '../../assets/images/hero-img.webp';
---
<section class={styles.hero}>
  <div class={styles.left}>
    <div class={styles.textContent}>
      <h1 class={styles.heroTitle}>Bistrot de Quartier au coeur de Bordeaux St Pierre</h1>
    </div>
  </div>
  <div class={styles.right}>
    <div class={styles.imageContainer}>
      <Image
      src={heroImage}
      class={styles.heroImage}
      alt="Hero Image"
      loading="lazy"
      />
    </div>
  </div>
</section>
