---
import styles from './Hero.module.css';
import { Image } from 'astro:assets';
import heroImage from "../../assets/images/hero-img.webp";

import {t} from '../../utils/i18n';

const { locale } = Astro.props;
---

<section class={styles.hero} id="home">
  <div class={styles.left}>
    <div class={styles.innerContainer}>
      <div class={styles.heroMain}>
        <h1 class={styles.heroTitle}>{t(locale, 'hero.title')}</h1>
        <div class={styles.buttonContainer}>
          <a href="#menu" class={styles.linkButton}>{t(locale, 'hero.buttons.menu')}</a>
          <a href="https://maps.app.goo.gl/GshxztFuF14FQgDn7" target="_blank" class={styles.linkButton}>{t(locale, 'hero.buttons.directions')}</a>
        </div>
      </div>
      <div class={styles.infoContainer}>
        <div class={styles.infoInner}>
          <div class={styles.adressContainer}>
            <p>
              {t(locale, 'hero.adress')}
            </p>
            <p>
              {t(locale, 'hero.zip')}
            </p>
          </div>

          <hr>

          <div class={styles.hoursContainer}>
            <p class={styles.days}>
              {t(locale, 'hero.days')}
            </p>
            <p class={styles.hours}>
              {t(locale, 'hero.hours')}
            </p>
          </div>
        </div>
      </div>
    </div>
  <div class={styles.right}>
    <div class={styles.imageContainer}>
      <Image
        src={heroImage}
        class={styles.heroImage}
        alt="Hero Image"
        fetchpriority="high"
        decoding="async"
        loading="eager"
        />
    </div>
    <div class={styles.language}>
      {locale === 'fr' ? <a href="/en">EN</a> : <a href="/">FR</a>}
    </div>
  </div>
</section>
