---
import styles from './Galery.module.css';
const images = [
  { src: "/assets/images/croque.webp", alt: "Croque Monsieur" },
  { src: "/assets/images/facade.webp", alt: "Devanture du bistrot" },
  { src: "/assets/images/morgon.webp", alt: "Bouteille de vin" },
  { src: "/assets/images/salade.webp", alt: "Salade composée" },
  { src: "/assets/images/terrasse-table.webp", alt: "La terrasse du bistrot" },
];
---

<section class={styles.galery}>
  <div class={styles.galeryContainer}>
    <div class={styles.carousel} >
      <div class={styles.imagesContainer}>
  {images.map((image) => (
    <div class={styles.image}>
      <img src={image.src} alt={image.alt} />
    </div>
  ))}
</div>

      <div class={styles.imagesContainer} aria-hidden="true">
  {images.map((image) => (
    <div class={styles.image}>
      <img src={image.src} alt={image.alt} loading="lazy"/>
    </div>
  ))}
</div>

  </div>
  </div>
</section>
